<h2>User Details</h2>
<div class="alert alert-error" ng-hide="permissionVerifier.canEditUsers()">You do not have permission to edit users</div>
<div ng-show="permissionVerifier.canEditUsers()">
    <table class="table">
        <tr>
            <th>User Name:</th>
            <td>{{editForm.userName}}</td>
        </tr>
        <tr>
            <th>Email Address:</th>
            <td>
                <input type="text" ng-model="editForm.emailAddress" />
            </td>
        </tr>
        <tr>
            <th>Password:</th>
            <td>
                <input type="password" ng-required="true" ng-model="editForm.password">
                <span class="alert alert-error" ng-show="editForm.passwordError">{{editForm.passwordError}}</span>
            </td>
        </tr>
        <tr>
            <th>Confirm Password:</th>
            <td>
                <input type="password" ng-required="true" ng-model="editForm.confirmPassword">
                <span class="alert alert-error" ng-show="editForm.confirmPasswordError">{{editForm.confirmPasswordError}}</span>
            </td>
        </tr>
    </table>
</div>
<button class="btn" ng-click="navigator.systemSettings.user.list.go()" ng-hide="permissionVerifier.canEditUsers()">Back</button>
<button class="btn" ng-click="navigator.systemSettings.user.list.go()" ng-show="permissionVerifier.canEditUsers()">Cancel</button>
<button class="btn btn-primary" ng-click="saveUser()" ng-show="permissionVerifier.canEditUsers()">Save</button>

