<h2><a ng-href="{{navigator.user.list.clientUrl()}}">User List</a></h2>

<div style="padding-top:10px">
    <button class="btn btn-primary" ng-click="navigator.systemSettings.user.create.go()" ng-show="permissionVerifier.canEditUsers()">Create User</button>
</div>

<table class="table table-striped" ng-show="userList.items.length">
    <thead>
        <tr>
            <th sort-header sort-field="UserName" apply-sort="applySort" paged-list="userList">User Name</th>
            <th sort-header sort-field="EmailAddress" apply-sort="applySort" paged-list="userList">Email Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in userList.items">
            <td>
                <a ng-href="{{navigator.systemSettings.user.edit.clientUrl(user.id)}}" ng-show="permissionVerifier.canEditUsers()">{{user.userName}}</a>
                <div ng-hide="permissionVerifier.canEditUsers()">{{user.userName}}</div>
            </td>
            <td>{{user.emailAddress}}</td>
            <td><a class="btn btn-danger" ng-href="{{navigator.systemSettings.user.remove.clientUrl(user.id)}}" ng-show="permissionVerifier.canEditUsers()" >Delete</a></td>
        </tr>
    </tbody>
</table>
<div ng-hide="userList.items.length">
    No users
</div>
<div>
    <pager paged-list="userList" go-to-page="goToPage"></pager>
</div>

<div style="padding-top:10px">
    <button class="btn btn-primary" ng-click="navigator.systemSettings.user.create.go()" ng-show="permissionVerifier.canEditUsers()">Create User</button>
</div>
