<h2>Edit Credentials</h2>
<table>
	<tr>
		<th>User Name:</th>
		<td>
			{{editForm.userName}}
		</td>
	</tr>
	<tr>
		<th>Password:</th>
		<td>
			<input type="password" ng-required="true" ng-model="editForm.password">
			<span class="alert alert-error" ng-show="editForm.passwordError">{{editForm.passwordError}}</span>
		</td>
	</tr>
	<tr>
		<th>Confirm Password:</th>
		<td>
			<input type="password" ng-required="true" ng-model="editForm.confirmPassword">
			<span class="alert alert-error" ng-show="editForm.confirmPasswordError">{{editForm.confirmPasswordError}}</span>
		</td>
	</tr>
</table>
<button class="btn" ng-click="navigator.systemSettings.credentials.list.go()">Cancel</button>
<button class="btn btn-primary" ng-click="saveCredentials()">Save</button>

