<h2>Create System Role</h2>
<div ng-hide="permissionVerifier.canEditSystemRole()" class="alert alert-error">You do not have permission to create system roles</div>
<div ng-show="permissionVerifier.canEditSystemRole()">
    <table class="table">
        <tr>
            <th>Role Name:</th>
            <td>
                <input type="text" ng-required="true" ng-model="editForm.roleName">
                <span class="alert alert-error" ng-show="editForm.roleNameError">{{editForm.roleNameError}}</span>
            </td>
        </tr>
    </table>
</div>
<button class="btn" ng-click="navigator.systemSettings.systemRole.list.go()" ng-hide="permissionVerifier.canEditSystemRole()">Back</button>
<button class="btn" ng-click="navigator.systemSettings.systemRole.list.go()" ng-show="permissionVerifier.canEditSystemRole()">Cancel</button>
<button class="btn btn-primary" ng-click="saveSystemRole()" ng-show="permissionVerifier.canEditSystemRole()">Save</button>

