<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dropkick" version="0.4.13.0" targetFramework="net40" />
  <package id="dropkick.core" version="0.4.13.0" targetFramework="net40" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net40" />
</packages>