<h2>Project {{project.projectName}} - {{component.componentName}} Component 
	<a ng-href="{{navigator.component.edit.clientUrl(component.projectId, component.id)}}">(edit)</a> </h2>
<h3>Deployment Steps</h3>
<table class="table table-border table-striped" ng-show="component.deploymentStepList.length">
	<thead>
		<tr>
			<th>Name</th>
			<th>Task Type</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="deploymentStep in component.deploymentStepList">
			<td><a ng-href="{{navigator.deploymentStep.edit.clientUrl(component.projectId, component.id, deploymentStep.id)}}">{{deploymentStep.stepName}}</a></td>
			<td><a class="btn btn-danger" ng-href="{{navigator.deploymentStep.remove.clientUrl(component.projectId, component.id, deploymentStep.id)}}">Delete</a></td>
		</tr>
	</tbody>
</table>
<div ng-hide="component.deploymentStepList.length">
	<em>No Deployment Steps</em>
</div>
<div ng-show="project.usesSharedComponentConfiguration">
    Note: All components in this project use same deployment and environment configuration.  Any changes here will affect all components in the project.
    <br />
    <br />
</div>
<a ng-href="{{navigator.deploymentStep.create.clientUrl(component.projectId, component.id)}}" class="btn btn-primary">Create Deployment Step</a>
<br />
<br />
<div ng-hide="copyingDeploymentSteps || project.usesSharedComponentConfiguration">
    <button class="btn" ng-click="startCopyDeploymentSteps()">Copy Deployment Steps From Another Component</button>
</div>
<div ng-show="copyingDeploymentSteps">
	<table class="table table-striped table-bordered">
		<tr ng-repeat="item in project.componentList">
			<td>{{item.componentName}}</td>
			<td>
				<ul>
					<li ng-repeat="step in item.deploymentStepList">
						{{step.stepName}}
					</li>
				</ul>
			</td>
			<td>
				<button class="btn" ng-click="copyDeploymentSteps(item)">Copy Deployment Steps</button>
			</td>
		</tr>
	</table>
</div>
