<h2>Project {{project.projectName}} - {{component.componentName}} Component 
	<a ng-show="permissionVerifier.canEditComponentConfiguration(project.id)" ng-href="{{navigator.component.edit.clientUrl(component.projectId, component.id)}}">(edit)</a> </h2>
<h3>Setup</h3>
<h4>Configuration</h4>
    <label class="radio">
	    <input type="radio" ng-model="component.useConfigurationGroup" ng-value="true" ng-disabled="!project.configurationList.length || !permissionVerifier.canEditComponentConfiguration(project.id)" />
	    Use Common Configuration:
	    <div>
		    <select ng-model="component.configurationId" ng-options="item.id as item.configurationName for item in project.configurationList" ng-disabled="!component.useConfigurationGroup || !project.configurationList.length || !permissionVerifier.canEditComponentConfiguration(project.id)"></select>
	    </div>
    </label>
    <label class="radio">
	    <input type="radio" ng-model="component.useConfigurationGroup" ng-value="false" ng-disabled="!permissionVerifier.canEditComponentConfiguration(project.id)" />
	    Use Custom Configuration (below)
    </label>
<h4>Isolation</h4>
    <label class="radio">
        <input type="radio" ng-model="component.isolationType" value="IsolatedPerMachine" ng-disabled="!permissionVerifier.canEditComponentConfiguration(project.id)" />
        Isolate this component so it is the only thing being deployed against the server at a given time
    </label>
    <label class="radio">
        <input type="radio" ng-model="component.isolationType" value="IsolatedPerDeployment" ng-disabled="!permissionVerifier.canEditComponentConfiguration(project.id)" />
        Isolate this component so it is the only thing being deployed in the entire deployment batch at a given time
    </label>
    <label class="radio">
        <input type="radio" ng-model="component.isolationType" value="NoIsolation" ng-disabled="!permissionVerifier.canEditComponentConfiguration(project.id)" />
        No isolation, this component can be deployed in parallel with anything
    </label>
<button ng-show="permissionVerifier.canEditComponentConfiguration(project.id)" class="btn btn-primary" ng-click="saveComponent()">Save</button>
<button ng-hide="permissionVerifier.canEditComponentConfiguration(project.id)" class="btn btn-action" ng-click="navigator.project.view.go(project.id)">Back</button>
<h3>Deployment Steps</h3>
<div ng-show="!component.useConfigurationGroup">
	<table class="table table-border table-striped" ng-show="component.deploymentStepList.length">
		<thead>
			<tr>
				<th>Name</th>
				<th>Task Type</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="deploymentStep in component.deploymentStepList">
				<td><a ng-href="{{navigator.deploymentStep.componentEdit.clientUrl(component.projectId, component.id, deploymentStep.id)}}">{{deploymentStep.stepName}}</a></td>
				<td>{{deploymentStep.taskTypeName}}</td>
				<td ng-show="permissionVerifier.canEditComponentConfiguration(project.id)"><a class="btn btn-danger" ng-href="{{navigator.deploymentStep.componentRemove.clientUrl(component.projectId, component.id, deploymentStep.id)}}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<div ng-hide="component.deploymentStepList.length">
		<em>No Deployment Steps</em>
	</div>
	<div ng-show="project.usesSharedComponentConfiguration">
		Note: All components in this project use same deployment and environment configuration.  Any changes here will affect all components in the project.
		<br />
		<br />
	</div>
	<a ng-show="permissionVerifier.canEditComponentConfiguration(project.id)" ng-href="{{navigator.deploymentStep.componentCreate.clientUrl(component.projectId, component.id)}}" class="btn btn-primary">Create Deployment Step</a>
	<br />
	<br />
	<div ng-hide="copyingDeploymentSteps || project.usesSharedComponentConfiguration || !permissionVerifier.canEditComponentConfiguration(project.id)">
		<button class="btn" ng-click="startCopyDeploymentSteps()">Copy Deployment Steps From Another Component</button>
	</div>
	<div ng-show="copyingDeploymentSteps">
		<table class="table table-striped table-bordered">
			<tr ng-repeat="item in project.componentList">
				<td>{{item.componentName}}</td>
				<td>
					<ul>
						<li ng-repeat="step in item.deploymentStepList">
							{{step.stepName}}
						</li>
					</ul>
				</td>
				<td>
					<button class="btn" ng-click="copyDeploymentSteps(item)">Copy Deployment Steps</button>
				</td>
			</tr>
		</table>
	</div>
</div>
