@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div class="projectList">
	<h3>Project List</h3>
</div>

<script id="project-list-template" type="text/backbone">
	<td>
		<h4><%=ProjectName%></h4>
	<td>
</script>
