<h2>Build {{build.DisplayValue}}</h2>

<table class="table table-bordered">
	<tr>
		<th>Project</th>
		<td><a ng-href="{{navigator.project.view.clientUrl(build.projectId)}}">{{build.projectName}}</a></td>
	</tr>
	<tr>
		<th>Component</th>
		<td><a ng-href="{{navigator.component.view.clientUrl(build.projectId, build.projectComponentId)}}">{{build.projectComponentName}}</a></td>
	</tr>
	<tr>
		<th>Branch</th>
		<td><a ng-href="{{navigator.branch.edit.clientUrl(build.projectId, build.projectBranchId)}}">{{build.projectBranchName}}</a></td>
	</tr>
	<tr>
		<th>Version</th>
		<td>{{build.version}}</td>
	</tr>
	<tr>
		<th>Created By</th>
		<td>{{build.createdByUserName}}</td>
	</tr>
	<tr>
		<th>Created Date</th>
		<td>{{build.createdDateTimeUtc | displayDateTimeShort}}</td>
	</tr>
	<tr>
		<th>Updated By</th>
		<td>{{build.updatedByUserName}}</td>
	</tr>
	<tr>
		<th>Updated Date</th>
		<td>{{build.updatedDateTimeUtc | displayDateTimeShort}}</td>
	</tr>
</table>
