<h2>Project {{project.projectName}} - {{component.componentName}} Component 
	<a ng-href="{{getEditComponentUrl(component)}}">(edit)</a> </h2>
<h3>Deployment Steps</h3>
<table class="table table-border table-striped" ng-show="component.deploymentStepList.length">
	<thead>
		<tr>
			<th>Name</th>
			<th>Task Type</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="deploymentStep in component.deploymentStepList">
			<td><a ng-href="{{getEditDeploymentStepUrl(deploymentStep)}}">{{deploymentStep.stepName}}</a></td>
			<td><a class="btn btn-danger" ng-href="{{getDeleteDeploymentStepUrl(deploymentStep)}}">Delete</a></td>
		</tr>
	</tbody>
</table>
<div ng-hide="component.deploymentStepList.length">
	<em>No Deployment Steps</em>
</div>
<a ng-href="{{getCreateDeploymentStepUrl(component)}}" class="btn btn-primary">Create Deployment Step</a>