<h2>Create Credentials</h2>
<div ng-show="!permissionVerifier.canEditDeploymentTools()" class="alert alert-error">
    You do not have access to create deployment tools
</div>
<table class="table" ng-show="permissionVerifier.canEditDeploymentTools()">
    <tr>
        <th>Tool Name:</th>
        <td><input type="text" ng-model="editForm.toolName" /></td>
    </tr>
    <tr>
        <th>Upload Tool Zip File:</th>
        <td>
            <form ng-upload="uploadComplete" action="/api/file/upload?format=json" method="post">
                <div>
                    <input type="file" name="fileName" />
                    <input type="submit" class="btn upload-submit" value="Upload" />
                </div>
                <div><i>{{uploadMessage}}</i></div>
            </form>
            <span class="alert alert-error" ng-show="editForm.uploadError">{{editForm.uploadError}}</span>
        </td>
    </tr>
</table>
<button class="btn" ng-click="navigator.systemSettings.credentials.list.go()" ng-hide="permissionVerifier.canEditDeploymentTools()">Back</button>
<button class="btn" ng-click="navigator.systemSettings.credentials.list.go()" ng-hide="!permissionVerifier.canEditDeploymentTools()">Cancel</button>
<button class="btn btn-primary" ng-click="saveCredentials()" ng-hide="!permissionVerifier.canEditDeploymentTools()">Save</button>

