<div class="modal-header">
    Browse File
    <div class="pull-right">
        <button class="close" ng-click="close()">X</button>
    </div>
</div>
<div class="modal-body">
    <div ng-show="buildList.length">
        <div>
            Select a recent build: <select ng-model="$parent.selectedBuild" ng-options="item as item.displayValue for item in buildList" style="width:350px" ng-change="selectedBuildChanged(x)"></select>
        </div>
        <div>
            <table class="table table-hover">
                <tr ng-repeat="item in fileList" ng-model="selectedFile" style="cursor:pointer" ng-dblclick="selectFile(item)">
                    <td>
                        {{item.fileName}}
                        <span ng-show="item.directory"> ({{item.directory}})</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="alert alert-info" ng-hide="fileList.length">
            Contents not available for this file.
        </div>
    </div>
    <div class="alert alert-info"  ng-hide="buildList.length">
        No recent builds available
    </div>
</div>
