<h2>Roles for {{project.projectName}} Project</h2>
<div class="row projectPermissions">
	<div class="span2" style="height:500px">
		<ul class="nav nav-list bs-docs-sidenav affix-top">
			<li ng-repeat="tempRole in projectRoleList" ng-class="{active:projectRole.id == tempRole.id}">
				<a ng-href="{{navigator.projectRole.edit.clientUrl(project.id, tempRole.id)}}">
					{{tempRole.roleName}}
				</a>
			</li>
		</ul>
		<div ng-hide="projectRoleList.length">No Roles</div>
		<button class="btn btn-primary" ng-click="beginAddRole()" style="margin-top:20px"><i class="icon-plus" />Add Role</button>
	</div>
	<div class="span8 container" style="border: 1px solid black; border-radius:5px; padding:10px" ng-show="projectRole">
		<h3>Project Role: <input type="text" ng-model="projectRole.roleName" /></h3>
	</div>
	<div class="span4 container" style="border: 1px solid black; border-radius:5px; padding:10px" ng-show="projectRole">
		<h3>Permissions</h3>
		<h4>Edit Components/Configurations</h4>
		<label class="checkbox">
			<select ng-model="projectRole.permissions.editComponentConfigurationAccess">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</label>
		<h4>Request Deployment</h4>
		<span ng-repeat="permission in projectRole.permissions.requestDeployPermissionList" >
			{{permission.environmentName}}:
			<select ng-model="permission.access">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Approve/Reject Deployment</h4>
		<span ng-repeat="permission in projectRole.permissions.approveRejectDeployPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Run Deployment</h4>
		<span ng-repeat="permission in projectRole.permissions.runDeploymentPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Edit Environments</h4>
		<span ng-repeat="permission in projectRole.permissions.editEnvironmentPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Manage Permissions</h4>
		<span ng-repeat="permission in projectRole.permissions.managePermissionsPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
	</div>

	<div class="span4 container" style="border: 1px solid black; border-radius:5px; padding:10px; margin-left:5px" ng-show="projectRole">
		<h3>User Assignment</h3>
		<h4>Users</h4>
		<div class="span3" style="height:200px; overflow:auto">
			<table class="table table-striped">
				<tr>
					<th>User Name</th>
					<th></th>
				</tr>
				<tr ng-repeat="userName in projectRole.assignments.userNameList">
					<td>{{userName}}</td>
					<td><button class="btn btn-danger"><i class="icon-trash"></i></button></td>
				</tr>
			</table>
			<div ng-hide="projectRole.assignments.userNameList.length">
				No users assigned
			</div>
			<p><button class="btn" ng-click="editAssignedUsers()">Edit Users</button></p>
		</div>
	</div>
	<div class="span12" ng-show="projectRole" style="padding-top:20px">
		<center>
			<button class="btn btn-primary" ng-click="saveRole()">Save Role</button>
		</center>
	</div>


	<div class="addRoleDialog" style="display:none">
		<div>
			Role Name: <input type="text" ng-model="addRoleData.roleName" />
		</div>
		<div>
			<center>
				<button class="btn btn-primary" ng-disabled="!addRoleData.roleName" ng-click="completeAddRole()">OK</button>
			</center>
		</div>
	</div>
	<div class="editAssignedUsers" style="display:none">
		<div ng-repeat="item in editAssignedUsersData.userAssignList">
			<label typeof="checkbox">
				<input type="checkbox" ng-model="item.selected">
				{{item.userName}}
			</label>
		</div>
		<center>
			<button class="btn btn-primary" ng-click="completeEditAssignedUsers()">OK</button>
		</center>
	</div>
</div>
