<h2>Roles for {{project.projectName}} Project</h2>
<div class="row projectPermissions">
	<div class="span2" style="height:500px">
		<ul class="nav nav-list bs-docs-sidenav affix-top">
			<li ng-repeat="tempRole in projectRoleList" ng-class="{active:projectRole.id == tempRole.id}">
				<a ng-href="{{navigator.projectRole.edit.clientUrl(project.id, tempRole.id)}}">
					{{tempRole.roleName}}
				</a>
			</li>
		</ul>
		<div ng-hide="projectRoleList.length">No Roles</div>
		<button class="btn btn-primary" ng-click="beginAddRole()" ng-show="isProjectEditable()" style="margin-top:20px"><i class="icon-plus" />Add Role</button>
	</div>
	<div class="span8 container" style="border: 1px solid black; border-radius:5px; padding:10px" ng-show="projectRole">
		<h3>
			Project Role: <input type="text" ng-model="projectRole.roleName" ng-disabled="projectRole.everyoneRoleIndicator || !isProjectEditable()"/>
			<button class="btn btn-primary" ng-click="saveRole()" ng-show="isAnythingEditable()">Save Role</button>
		</h3>
	</div>
	<div class="span4 container" style="border: 1px solid black; border-radius:5px; padding:10px" ng-show="projectRole">
		<h3>Permissions</h3>
		<h4>Edit Components/Configurations</h4>
		<label class="checkbox">
			<select ng-model="projectRole.permissions.editComponentConfigurationAccess" ng-disabled="!isProjectEditable()">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</label>
		<h4>Create Environment</h4>
		<label class="checkbox">
			<select ng-model="projectRole.permissions.createEnvironmentAccess" ng-disabled="!isProjectEditable()">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</label>
		<h4>Edit Project Permissions</h4>
		<label class="checkbox">
			<select ng-model="projectRole.permissions.editProjectPermissionsAccess" ng-disabled="!isProjectEditable()">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</label>
		<h4>Request Deployment</h4>
		<span ng-repeat="permission in projectRole.permissions.requestDeployPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access" ng-disabled="!isEnvironmentEditable(permission.environmentId)">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Approve/Reject Deployment</h4>
		<span ng-repeat="permission in projectRole.permissions.approveRejectDeployPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access" ng-disabled="!isEnvironmentEditable(permission.environmentId)">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Run Deployment</h4>
		<span ng-repeat="permission in projectRole.permissions.runDeploymentPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access" ng-disabled="!isEnvironmentEditable(permission.environmentId)">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Edit Environments</h4>
		<span ng-repeat="permission in projectRole.permissions.editEnvironmentPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access" ng-disabled="!isEnvironmentEditable(permission.environmentId)">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
		<h4>Edit Environment Permissions</h4>
		<span ng-repeat="permission in projectRole.permissions.editEnvironmentPermissionsPermissionList">
			{{permission.environmentName}}:
			<select ng-model="permission.access" ng-disabled="!isEnvironmentEditable(permission.environmentId)">
				<option>None</option>
				<option>Grant</option>
				<option>Deny</option>
			</select>
		</span>
	</div>

	<div class="span4 container" style="border: 1px solid black; border-radius:5px; padding:10px; margin-left:5px" ng-show="projectRole">
		<h3>User Assignment</h3>
		<h4>Users</h4>
		<div class="span3" style="width:300px;">
			<div ng-show="projectRole.everyoneRoleIndicator">
				This is a built in role to represent the everyone in the project.  These default permissions will get assigned to all users,
				and those default permissions can be modified by assigning users to additional roles.
			</div>
			<table class="table table-striped" ng-hide="projectRole.everyoneRoleIndicator">
				<tr>
					<th>User Name</th>
					<th></th>
				</tr>
				<tr ng-repeat="userName in projectRole.assignments.userNameList">
					<td>{{userName}}</td>
					<td ng-show="isProjectEditable()"><button class="btn btn-danger"><i class="icon-trash"></i></button></td>
				</tr>
			</table>
			<div ng-hide="projectRole.assignments.userNameList.length || projectRole.everyoneRoleIndicator">
				No users assigned
			</div>
			<p><button class="btn" ng-click="editAssignedUsers()" ng-hide="projectRole.everyoneRoleIndicator || !isProjectEditable()">Edit Users</button></p>
		</div>
	</div>
	<div class="span12" ng-show="projectRole" style="padding-top:20px">
		<center>
			<button class="btn btn-primary" ng-click="saveRole()" ng-show="isAnythingEditable()">Save Role</button>
		</center>
	</div>


	<div class="addRoleDialog" style="display:none">
		<div>
			Role Name: <input type="text" ng-model="addRoleData.roleName" />
		</div>
		<div>
			<center>
				<button class="btn btn-primary" ng-disabled="!addRoleData.roleName" ng-click="completeAddRole()">OK</button>
			</center>
		</div>
	</div>
	<div class="editAssignedUsers" style="display:none">
		<div ng-repeat="item in editAssignedUsersData.userAssignList">
			<label typeof="checkbox">
				<input type="checkbox" ng-model="item.selected">
				{{item.userName}}
			</label>
		</div>
		<center>
			<button class="btn btn-primary" ng-click="completeEditAssignedUsers()">OK</button>
		</center>
	</div>
</div>
