<h2 ng-hide="environment.id">Create a environment in project {{project.projectName}}</h2>
<h2 ng-show="environment.id">Edit Environment: {{environment.environmentName}} in project {{project.projectName}}</h2>
<div>
	<b>Environment Name:</b>
	<input type="text" ng-model="environment.environmentName" />
</div>
<div ng-show="project.usesSharedComponentConfiguration">
	Note: All components in this project use same deployment and environment configuration.  Any changes here will affect all components in the project.
	<br />
	<br />
</div>
<div ng-show="environment.id">
	<div ng-show="environment.configurationList.length">
		<h3>Configuration Groups</h3>
		<div ng-repeat="configuration in environment.configurationList" class="environment-component">
			<h3>{{configuration.itemName}}</h3>
			<strong>Environment Values</strong>
			<table class="table table-striped table-bordered ">
				<thead>
					<tr>
						<th>Setting Name:</th>
						<th>Setting Value:</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="configItem in configDefinitionList[configuration.parentId].environmentTaskParameterList">
						<td>{{configItem.fieldName}}</td>
						<td>{{configuration.configurationValueList[configItem.fieldName]}}</td>
						<td><button class="btn" ng-click="editConfigurationItem(configItem, configuration.configurationValueList)">Edit</button></td>
					</tr>
					<tr ng-show="!configDefinitionList[configuration.parentId].environmentTaskParameterList.length">
						<td colspan="3">No Configuration Values</td>
					</tr>
				</tbody>
			</table>

			<strong>Machine Values</strong>
			<div ng-show="!configuration.machineList.length" class="alert">
				No machines created yet
			</div>
			<div ng-repeat="machine in configuration.machineList" class="environment-component-machine">
				Machine: {{machine.machineName}} <button class="btn" ng-click="editMachine(machine)">Edit</button><button class="btn" ng-click="deleteMachine(configuration,machine)">Delete</button>
				<table class="table table-striped table-bordered ">
					<thead>
						<tr>
							<th>Setting Name:</th>
							<th>Setting Value:</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="configItem in configDefinitionList[configuration.parentId].machineTaskParameterList">
							<td>{{configItem.fieldName}}</td>
							<td>{{machine.configurationValueList[configItem.fieldName]}}</td>
							<td><button class="btn" ng-click="editConfigurationItem(configItem, machine.configurationValueList, machine.machineName)">Edit</button></td>
						</tr>
						<tr ng-show="!configDefinitionList[configuration.parentId].machineTaskParameterList.length">
							<td colspan="3">No Configuration Values</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="btn" ng-click="addMachine(configuration)">Add Machine</button>
		</div>
	</div>
	<div ng-show="environment.componentList.length">
		<h3>Components</h3>
		<div ng-repeat="component in environment.componentList" class="environment-component">
			<h3>{{component.itemName}}</h3>
			<div ng-show="component.useConfigurationGroup">
				<div ng-show="component.configurationId">This component will use the configuration group "{{component.configurationName}}"</div>
				<div ng-hide="component.configurationId" class="alert">Warning: this component is marked to use a configuration group, but no configuration is selected</div>
			</div>
			<div ng-hide="component.useConfigurationGroup">
				<strong>Environment Values</strong>
				<table class="table table-striped table-bordered ">
					<thead>
						<tr>
							<th>Setting Name:</th>
							<th>Setting Value:</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="configItem in configDefinitionList[component.parentId].environmentTaskParameterList">
							<td>{{configItem.fieldName}}</td>
							<td>{{component.configurationValueList[configItem.fieldName]}}</td>
							<td><button class="btn" ng-click="editConfigurationItem(configItem, component.configurationValueList)">Edit</button></td>
						</tr>
						<tr ng-show="!configDefinitionList[component.parentId].environmentTaskParameterList.length">
							<td colspan="3">No Configuration Values</td>
						</tr>
					</tbody>
				</table>

				<strong>Machine Values</strong>
				<div ng-show="!component.machineList.length" class="alert">
					No machines created yet
				</div>
				<div ng-repeat="machine in component.machineList" class="environment-component-machine">
					Machine: {{machine.machineName}} <button class="btn" ng-click="editMachine(machine)">Edit</button> <button class="btn" ng-click="deleteMachine(component,machine)">Delete</button>
					<table class="table table-striped table-bordered ">
						<thead>
							<tr>
								<th>Setting Name:</th>
								<th>Setting Value:</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="configItem in configDefinitionList[component.parentId].machineTaskParameterList">
								<td>{{configItem.fieldName}}</td>
								<td>{{machine.configurationValueList[configItem.fieldName]}}</td>
								<td><button class="btn" ng-click="editConfigurationItem(configItem, machine.configurationValueList, machine.machineName)">Edit</button></td>
							</tr>
							<tr ng-show="!configDefinitionList[component.parentId].machineTaskParameterList.length">
								<td colspan="3">No Configuration Values</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button class="btn" ng-click="addMachine(component)">Add Machine</button>
			</div>
		</div>
	</div>
</div>
<div>

</div>
<hr />
<button class="btn btn-action" ng-click="navigator.project.view.go(environment.projectId)">Cancel</button>
<button class="btn btn-action" ng-click="saveEnvironment()">Save</button>
