<h2 ng-hide="environment.id">Create a environment in project {{project.projectName}}</h2>
<h2 ng-show="environment.id">Edit Environment: {{environment.environmentName}} in project {{project.projectName}}</h2>
<div>
	<b>Environment Name:</b>
	<input type="text" ng-model="environment.environmentName" />
</div>
<div ng-show="project.usesSharedComponentConfiguration">
	Note: All components in this project use same deployment and environment configuration.  Any changes here will affect all components in the project.
	<br />
	<br />
</div>
<div ng-show="environment.id">
	<div ng-repeat="component in environment.componentList">
		<h3>{{component.componentName}}</h3>
		<strong>Environment Values</strong>
		<table class="table table-striped table-bordered ">
			<thead>
				<tr>
					<th>Setting Name:</th>
					<th>Setting Value:</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="configItem in configDefinitionList[component.componentId].environmentTaskParameterList">
					<td>{{configItem.fieldName}}</td>
					<td>{{component.configurationValueList[configItem.fieldName]}}</td>
					<td><button class="btn" ng-click="editConfigurationItem(configItem, component.configurationValueList)">Edit</button></td>
				</tr>
			</tbody>
		</table>

		<strong>Environment Values</strong>
		<div ng-repeat="machine in component.machineList" style="text-indent:20px">
			{{machine.machineName}} <button class="btn" ng-click="editMachine(machine)">Edit</button> <button class="btn" ng-click="deleteMachine(component,machine)">Delete</button>
			<table class="table table-striped table-bordered ">
				<thead>
					<tr>
						<th>Setting Name:</th>
						<th>Setting Value:</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="configItem in configDefinitionList[component.componentId].machineTaskParameterList">
						<td>{{configItem.fieldName}}</td>
						<td>{{machine.configurationValueList[configItem.fieldName]}}</td>
						<td><button class="btn" ng-click="editConfigurationItem(configItem, machine.configurationValueList)">Edit</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<button class="btn" ng-click="addMachine(component)">Add Machine</button>
	</div>
</div>
<div>

</div>
<hr />
<button class="btn btn-action" ng-click="navigator.project.view.go(environment.projectId)">Cancel</button>
<button class="btn btn-action" ng-click="saveEnvironment()">Save</button>
