<h1>Deployments</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Submitted Date</th>
			<th>Started Date</th>
			<th>Completed Date</th>
			<th>Status</th>
			<th>Details</th>
			<th>View</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="deployment in deploymentList.items">
			<td>{{deployment.request.submittedDateTimeUtc | date:'medium'}} UTC</td>
-			<td>{{deployment.request.startedDateTimeUtc | date:'medium'}} UTC</td>
			<td>{{deployment.request.completeDateTimeUtc | date:'medium'}} UTC</td>
			<td>
				<div ng-switch on="deployment.request.status">
					<div ng-switch-when="Requested">Requested</div>
					<div ng-switch-when="NotStarted">Not Started</div>
					<div ng-switch-when="InProcess">In Process</div>
					<div ng-switch-when="Warning">Warning</div>
					<div ng-switch-when="Success">Success</div>
					<div ng-switch-when="Error">Error</div>
					<div ng-switch-default>{{deployment.request.status}}</div>
				</div>
			</td>
			<td>
				<div ng-repeat="item in deployment.request.itemList">
					<b>{{item.build.displayValue}}-></b>
					<ul>
						<li ng-repeat="machine in item.machineList">{{machine.machineName}}</li>
					</ul>
				</div>
			</td>
			<td>
				<a ng-href="{{navigator.deployment.batchStatus.clientUrl(deployment.request.id)}}">View</a>
			</td>
		</tr>
	</tbody>
</table>