<h2>Deploy Build {{build.projectName}} - {{build.projectBranchName}} - {{build.projectComponentName}} - {{build.version}}  to environment {{environment.environmentName}}</h2>

<hr />
<fieldset>
	<legend>Build Details</legend>
	TBD...
</fieldset>
<fieldset style="width:500px">
	<legend>Configuration</legend>
	<select-environment-machines buildId="{{idValues.buildId}}" environmentId="{{idValues.environmentId}}" selection="selection">a</select-environment-machines>
	<div>
		<button id="submitButton" class="btn btn-primary" ng-model="button" ng-disabled="!canSubmitDeployment()" ng-click="submitDeployment()">Submit Deployment</button>
	</div>
</fieldset>

