<h2>Deploy Build {{build.projectName}} - {{build.projectBranchName}} - {{build.projectComponentName}} - {{build.version}}  to environment {{environment.environmentName}}</h2>

<hr />
<div ng-hide="environmentComponent" class="alert alert-error">
	No components have been configured for this environment.  <a ng-href="#">Go here</a> to configure that.
</div>
<fieldset>
	<legend>Build Details</legend>
	TBD...
</fieldset>
<fieldset style="width:500px">
	<legend>Configuration</legend>
	<div style="float:left">
		<h4>Static Values</h4>
		config goes here
		<h4>Environment Values</h4>
		config goes here
	</div>
	<div style="float:right">
		<h4>Server Values</h4>
		<div>
			<input type="checkbox" /> QASERVER1
		</div>
		<div>
			<input type="checkbox" /> QASERVER1
		</div>
	</div>
</fieldset>

