<h2>Project {{project.ProjectName}} - {{component.ComponentName}} Component <a href="#/project/edit/{{project.Id}}/component/{{component.Id}}">(edit)</a> </h2>
<h2>Deployment Step</h2>
<table class="table table-bordered">
	<tr>
		<th>Step Name:</th>
		<td><input type="text" required ng-model="deploymentStep.stepName" /></td>
	</tr>
	<tr>
		<th>Step Type:</th>
		<td>
			<select ng-model="deploymentStep.taskTypeName" ng-options="item.taskTypeName as item.taskTypeName for item in taskMetadataList"></select>
		</td>
	</tr>
	<tr>
		<th>Task Configuration:</th>
		<th><div task-config taskTypeName="{{deploymentStep.taskTypeName}}"></div>
	</tr>
</table>
<button class="btn" ng-click="cancelDeploymentStep()">Cancel</button>
<button class="btn" ng-click="saveDeploymentStep()">Save</button>
