<h2 ng-hide="branch.id">Create a environment in project {{project.projectName}}</h2>
<h2 ng-show="branch.id">Edit Environment: {{environment.environmentName}} in project {{project.projectName}}</h2>
<div>
	<b>Environment Name:</b>
	<input type="text" ng-model="environment.environmentName" />
</div>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Component</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="component in environment.componentList">
				<td>
					<span class="label">{{component.componentName}}</span>
					<table class="table table-border">
						<tr ng-repeat="machine in component.machineList">
							<td>
								{{machine.machineName}} 
								<button class="btn" ng-click="editEnvironmentComponentMachine(component, machine)"><i class="icon-edit"></i></button>
								<button class="btn btn-danger" ng-click="deleteEnvironmentMachine(component, machine)"><i class="icon-trash"></i></button>
							</td>
						</tr>
					</table>
					<button class="btn btn-primary" ng-click="addEnvironmentComponentMachine(component)"><i class="icon-plus"></i> Add Machine</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<hr />
<button class="btn btn-action" ng-click="cancelEnvironment()">Cancel</button>
<button class="btn btn-action" ng-click="saveEnvironment()">Save</button>
