<h2 ng-hide="environment.id">Create a environment in project {{project.projectName}}</h2>
<h2 ng-show="environment.id">Edit Environment: {{environment.environmentName}} in project {{project.projectName}}</h2>
<div>
	<b>Environment Name:</b>
	<input type="text" ng-model="environment.environmentName" />
</div>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Component</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="component in environment.componentList">
				<td>
					<th>{{component.componentName}}</th>
					<table class="table table-striped table-bordered ">
						<tr>
							<th>Environment Configuration</th>
							<td>
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Task Name</th>
											<th>Setting Name</th>
											<th>Setting Value</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-hide="environmentResults.length">
											<td colspan="3">None</td>
										</tr>
										<tr ng-show="environmentResults.length" ng-repeat="item in environmentResults">
											<td>{{item.taskName}}</td>
											<td>{{item.settingName}}</td>
											<td>
												<div ng-show="item.present">{{item.settingValue}}</div>
												<div ng-hide="item.present" style="color:red">N/A</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
					<table class="table table-bordered">
						<tr ng-repeat="machine in component.machineList">
							<td>
								{{machine.machineName}} 
								<button class="btn" ng-click="editEnvironmentComponentMachine(component, machine)"><i class="icon-edit"></i></button>
								<button class="btn btn-danger" ng-click="deleteEnvironmentMachine(component, machine)"><i class="icon-trash"></i></button>
							</td>
						</tr>
					</table>
					<button class="btn btn-primary" ng-click="addEnvironmentComponentMachine(component)"><i class="icon-plus"></i> Add Machine</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div>

</div>
<hr />
<button class="btn btn-action" ng-click="cancelEnvironment()">Cancel</button>
<button class="btn btn-action" ng-click="saveEnvironment()">Save</button>
