<h2>Project {{project.projectName}} <a href="#/project/edit/{{project.id}}">(edit)</a></h2> 

<hr />

<h3>Components</h3>
<table class="table table-border table-striped" ng-show="project.componentList.length">
	<thead>
		<tr>
			<th>Component Name</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="component in project.componentList">
			<td><a ng-href="{{getViewComponentUrl(component)}}">{{component.componentName}}</a></td>
			<td><a class="btn btn-primary" ng-href="{{getEditComponentUrl(component)}}">Edit</a></td>
			<td><a class="btn btn-danger" ng-href="{{getDeleteComponentUrl(component)}}">Delete</a></td>
		</tr>
	</tbody>
</table>
<div ng-hide="project.componentList">
	<em>No Components</em>
</div>
<a class="btn btn-primary" ng-href="{{getCreateComponentUrl(project)}}">Create Component</a>

<hr />

<h3>Branches</h3>
<table class="table table-border table-striped" ng-show="project.branchList.length">
	<thead>
		<tr>
			<th>Branch Name</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="branch in project.branchList">
			<td><a ng-href="{{getEditBranchUrl(branch)}}">{{branch.branchName}}</a></td>
			<td><a class="btn btn-danger" ng-href="{{getDeleteBranchUrl(branch)}}">Delete</a></td>
		</tr>
	</tbody>
</table>
<div ng-hide="project.branchList">
	<em>No Branches</em>
</div>
<a class="btn btn-primary" ng-href="{{getCreateBranchUrl(project)}}">Create Branch</a>