<h2>Project {{project.projectName}} <a href="#/project/edit/{{project.id}}">(edit)</a></h2> 
<h3>Components</h3>
<table class="table table-border table-striped" ng-show="project.componentList.length">
	<thead>
		<tr>
			<th>Component Name</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="component in project.componentList">
			<td><a ng-href="{{getViewComponentUrl(component)}}">{{component.componentName}}</a></td>
			<td><a class="btn btn-primary" ng-href="{{getEditComponentUrl(component)}}">Edit</a></td>
			<td><a class="btn btn-danger" ng-href="{{getDeleteComponentUrl(component)}}">Delete</a></td>
		</tr>
	</tbody>
</table>
<div ng-hide="project.ComponentList">
	<em>No Components</em>
</div>
<a href="/#/project/{{project.id}}/component/create">Create Component</a>