<h1>Deployment Batch Status</h1>
<table>
	<tr>
		<th>Status:</th>
		<td>
			{{deployBatchStatus.request.statusDisplayValue}}
			<span ng-show="deployBatchStatus.request.status=='Requested' || deployBatchStatus.request.status=='Rejected'">
				<button class="btn btn-primary" ng-click="startApproval()">Approve</button>
				<button class="btn btn-danger" ng-click="startRejection()">Reject</button>
			</span>
			<span ng-show="deployBatchStatus.request.status=='Approved'">
				<button class="btn btn-primary" ng-click="startBeginDeployment()">Begin Deployment</button>
			</span>
		</td>
	</tr>
	<tr>
		<th>Submitted:</th>
		<td>{{deployBatchStatus.request.submittedDateTimeUtc | displayDate}}</td>
	</tr>
	<tr>
		<th>Started:</th>
		<td>{{deployBatchStatus.request.startedDateTimeUtc | displayDate}}</td>
	</tr>
	<tr>
		<th>Completed:</th>
		<td>{{deployBatchStatus.request.completeDateTimeUtc | displayDate}}</td>
	</tr>
</table>
<div ng-show="deployBatchStatus.request.errorDetails" class="error">
	<h3>Error Details: </h3> 
	<pre>{{deployBatchStatus.request.errorDetails}}</pre>
</div>
<div ng-show="deployBatchStatus.request.messageList.length">
	<h3>Status Messages</h3>
	<pre ng-repeat="message in deployBatchStatus.request.messageList">{{message}}</pre>
</div>
<div ng-repeat="item in deployBatchStatus.request.itemList">
	<h2>{{item.build.displayValue}}</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Machine</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="machine in item.machineList">
				<td>{{machine.machineName}}</td>
				<td>
					<div ng-switch on="getMachineDeployStatus(item, machine)">
						<div ng-switch-when="NotStarted">Not Started</div>
						<div ng-switch-when="InProcess">
							<a ng-href="{{navigator.deployment.view.clientUrl(getMachineDeployStateId(item, machine))}}">In Process</a>
						</div>
						<div ng-switch-when="Error">
							<a ng-href="{{navigator.deployment.view.clientUrl(getMachineDeployStateId(item, machine))}}">Error</a>
						</div>
						<div ng-switch-when="Success">
							<a ng-href="{{navigator.deployment.view.clientUrl(getMachineDeployStateId(item, machine))}}">Success</a>
						</div>
						<div ng-switch-default>{{getMachineDeployStatus(item, machine)}}</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="statusChangeDialog" style="display:none">
	<div>{{statusChange.promptText}}</div>
	<div><textarea cols="50" rows="5" ng-model="statusChange.statusMessage" /></div>
	<div>
		<button class="btn btn-primary" ng-click="completeStatusChange()">{{statusChange.buttonText}}</button>
		<button class="btn" ng-click="cancelStatusChange()">Cancel</button>
	</div>
</div>
