<h2>View Deployment</h2>
<h2>{{project.projectName}} - {{deployState.build.projectBranchName}} - {{deployState.build.projectComponentName}} - {{deployState.build.version}}  to environment {{deployState.environment.environmentName}}</h2>

<hr />
<table class="table table-striped table-bordered">
	<tr>
		<th>Submitted Date (UTC)</th>
		<td>{{deployState.submittedDateTimeUtc | date:'medium'}}</td>
	</tr>
	<tr>
		<th>Status</th>
		<td>{{deployState.statusDisplayValue}}</td>
	</tr>
</table>
<div ng-show="deployState.errorDetails" class="error">
	<h3>Error Details: </h3> 
	<pre>{{deployState.errorDetails}}</pre>
</div>
<h3>Deployment Log</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Date/Time (UTC)</th>
			<th>Message</th>
		</tr>
	</thead>
	<tr ng-repeat="item in deployState.messageList | orderBy:'-dateTimeUtc'">
		<td>{{item.dateTimeUtc}}</td>
		<td><pre>{{item.message}}</pre></td>
	</tr>
</table>
