@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SetupLayout.cshtml";
}
<div class="">
    <h1>Welcome to Sriracha <img src="/Content/images/pepper.jpg" style="height:75px" /></h1>
</div>
<p>
    This wizard will take you through the initialization process for Sriracha.
</p>
<p>
    <a class="btn btn-primary" href="@Url.Action("Start")">Start Now</a>
</p>
