<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<membership defaultProvider="SrirachaMembershipProvider">
			<providers>
				<add name="SrirachaMembershipProvider" type="Sriracha.Deploy.Web.Security.SrirachaMembershipProvider, Sriracha.Deploy.Web"/>
			</providers>
		</membership>
	</system.web>
</configuration>