<h2>Create Credentials</h2>
<div ng-show="!permissionVerifier.canEditDeploymentCredentials()" class="alert alert-error">
    You do not have access to create deployment credentials
</div>
<table class="table" ng-show="permissionVerifier.canEditDeploymentCredentials()">
    <tr>
        <th>Domain:</th>
        <td><input type="text" ng-model="editForm.domain" /></td>
    </tr>
    <tr>
        <th>User Name:</th>
        <td>
            <input type="text" ng-required="true" ng-model="editForm.userName">
            <span class="alert alert-error" ng-show="editForm.userNameError">{{editForm.userNameError}}</span>
        </td>
    </tr>
    <tr>
        <th>Password:</th>
        <td>
            <input type="password" ng-required="true" ng-model="editForm.password">
            <span class="alert alert-error" ng-show="editForm.passwordError">{{editForm.passwordError}}</span>
        </td>
    </tr>
    <tr>
        <th>Confirm Password:</th>
        <td>
            <input type="password" ng-required="true" ng-model="editForm.confirmPassword">
            <span class="alert alert-error" ng-show="editForm.confirmPasswordError">{{editForm.confirmPasswordError}}</span>
        </td>
    </tr>
</table>
<button class="btn" ng-click="navigator.systemSettings.credentials.list.go()" ng-hide="permissionVerifier.canEditDeploymentCredentials()">Back</button>
<button class="btn" ng-click="navigator.systemSettings.credentials.list.go()" ng-hide="!permissionVerifier.canEditDeploymentCredentials()">Cancel</button>
<button class="btn btn-primary" ng-click="saveCredentials()" ng-hide="!permissionVerifier.canEditDeploymentCredentials()">Save</button>

