<h1>System Settings</h1>
<h2>Deployment Credentials</h2>
<table class="table table-striped">
	<tr>
        <th>Domain</th>
        <th>User Name</th>
        <th></th>
        <th></th>
	</tr>
    <tr ng-repeat="item in credentialsList.items">
        <td>
            <div ng-show="permissionVerifier.canEditDeploymentCredentials()">
                <a ng-href="{{navigator.systemSettings.credentials.edit.clientUrl(item.id)}}">{{item.domain}}</a>
            </div>
            <div ng-hide="permissionVerifier.canEditDeploymentCredentials()">
                {{item.domain}}
            </div>
        </td>
        <td>
            <div ng-show="permissionVerifier.canEditDeploymentCredentials()">
                <a ng-href="{{navigator.systemSettings.credentials.edit.clientUrl(item.id)}}">{{item.userName}}</a>
            </div>
            <div ng-hide="permissionVerifier.canEditDeploymentCredentials()">
                {{item.userName}}
            </div>
        </td>
        <td>
            <button class="btn btn-success" ng-click="testCredentials(item)" ng-show="permissionVerifier.canEditDeploymentCredentials()">Test</button>
        </td>
        <td>
            <button class="btn btn-danger" ng-click="navigator.systemSettings.credentials.remove.go(item.id)" ng-show="permissionVerifier.canEditDeploymentCredentials()">Delete</button>
        </td>
    </tr>
</table>
<div ng-hide="credentialsList.items.length">
	No credentials
</div>
<button class="btn btn-primary" ng-click="navigator.systemSettings.credentials.create.go()" ng-show="permissionVerifier.canEditDeploymentCredentials()">Add Credentials</button>