body {
}

.deployStatus-icon {
    width:24px;
    height:24px;
    background-image:url(images/icon-help-16.png);
    background-size: 24px 24px;
}
.deployStatus-icon.ok {
    background-image:url(images/icon-ok-16.png);
}
.deployStatus-icon.in-process{
    background-image:url(images/icon-play-16.png);
}
.deployStatus-icon.warning {
    background-image:url(images/icon-warning-16.png);
}
.deployStatus-icon.error {
    background-image:url(images/icon-critical-16.png);
}

.projectPermissions select {
	width: 130px;
	margin-right: 10px;
	margin-top: 5px;
}


.environment-component {
	border: 1px solid grey;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border-radius: 5px
}
.environment-component-machine {
	text-indent:20px;
	border: 1px solid grey;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border-radius: 5px
}

.sortHeader {
	cursor:pointer;
}
.sortHeader.active {
	font-style: italic;
}